html{
    background: linear-gradient(black, grey);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

body{
    font-size: 19px;
}

h2{
    font-family: "Ink Free", "MV Boli", sans-serif;
    font-weight: bold;
    color: white;
}

li{
    
    color: white;
    font-weight: bold;
    background-color: #808080;
    margin-right: 30%;
}

div{
    font-family: "Ink Free", "MV Boli", sans-serif;
    color: white;
}

span{
    font-weight: bold;
}

#aboutLink{
    position: fixed; 
    bottom: 0px;
    right:15px; 

}